---
import Layout from "@/layouts/Layout.astro"
import Section from "@/components/Section.astro"
import Tags from "@/components/reactive/Tags.svelte"
import CosmeticText from "@/components/CosmeticText.astro"
import Poems from "@/components/Poems.astro"
import Posts from "@/components/reactive/Posts.svelte"

import { siteTitle, siteDescription } from "@/data/site.json"
import { userGithubUsername } from "@/data/user-contact.json"
import { userProfessionalDescription } from "@/data/user-professional.json"
import { userIntroduction, userName } from "@/data/user-personal.json"
import { getPostTags, getPublishedPosts, toPostCardData } from "@/lib/posts"

const userPicture = `https://github.com/${userGithubUsername}.png?size=384`
const allPosts = await getPublishedPosts()
const posts = allPosts.map(toPostCardData)

const heroTags = getPostTags(allPosts)

const cosmeticTexts: { [section: string]: string } = {
  header: "BACKROOM",
  hero: "CLICK ON A TAG",
  about: "ABOUT ME",
}
---

<Layout
  siteTitle={siteTitle}
  siteDescription={siteDescription}
  headerCosmeticText={cosmeticTexts.header}
>
  <!-- HERO -->
  <Section
    class="relative flex min-h-72 pl-4 bg-radial-[at_50%_10%] from-accent/10 to-transparent"
  >
    <div class="max-w-md m-auto text-center">
      <h1 class="text-2xl">{userProfessionalDescription}</h1>
      <Tags client:load tags={heroTags} class="justify-center mt-4 text-lg" />
    </div>
    <CosmeticText text={cosmeticTexts.hero} vertical />
  </Section>

  <!-- POSTS -->
  <Section class="p-3 sm:p-4">
    <Posts client:load posts={posts} />
  </Section>

  <!-- AI POEMS -->
  <Section class="text-center p-4">
    <Poems />
  </Section>

  <!-- ABOUT -->
  <Section
    class="relative flex min-h-96 bg-radial-[at_50%_90%] from-accent/10 to-transparent"
  >
    <span class="absolute"
      ><CosmeticText text={cosmeticTexts.about} vertical /></span
    >
    <div
      class="flex flex-col gap-16 max-w-3xl mx-auto px-8 pt-32 pb-16 md:flex-row md:p-16"
    >
      <div
        class="group/image aspect-square h-48 w-48 mx-auto my-auto rounded-interactive bg-accent md:mx-0"
      >
        <img
          class="h-48 w-48 scale-110 -rotate-z-12 overflow-clip object-cover rounded-interactive group-hover/image:scale-[101%] group-hover/image:-rotate-z-0 duration-200"
          src={userPicture}
          width="384"
          height="384"
          loading="lazy"
          decoding="async"
          alt={`${userName}'s profile picture.`}
        />
      </div>

      <div class="my-auto flex flex-col gap-4 text-pretty">
        <h2 class="text-xl">Hi.</h2>
        {userIntroduction.map((paragraph) => <p>{paragraph}</p>)}
      </div>
    </div>
  </Section>
</Layout>
