---
import Section from "./Section.astro";
import Arrow from "../components/Arrow.astro";

import { userSocials, userEmail } from "../data/user-contact.json";
import { userName } from "../data/user-personal.json";
---

<Section class="flex flex-row items-start gap-3 p-3 sm:p-4">
  <a class="my-auto hover:brightness-125" href="/"><span>{userName}</span></a>

  <!-- USER CONTACT -->
  <div class="hidden ml-auto md:flex md:flex-col">
    <div class="flex flex-row-reverse flex-wrap gap-4">
      <a class="hover:brightness-125 duration-200" href={`mailto:${userEmail}`}
        >{userEmail}<Arrow class="stroke-primary-foreground" rotate={-45} /></a
      >
      {
        userSocials.map((social) => (
          <a class="hover:brightness-125 duration-200" href={social.link}>
            {social.title}<Arrow class="stroke-primary-foreground" rotate={-45} />
          </a>
        ))
      }
    </div>
  </div>

  <a
    class="ml-auto min-w-0 break-all px-2 text-right text-primary-foreground hover:cursor-pointer hover:brightness-125 md:hidden"
    href={`mailto:${userEmail}`}
  >
    {userEmail}
    <Arrow class="stroke-primary-foreground" rotate={-45} />
  </a>
</Section>

<!-- CREDITS -->
<Section class="m-auto flex flex-col items-center justify-center gap-4 px-4 py-12 text-center sm:flex-row sm:gap-8 sm:py-16">
  <a class="break-words hover:brightness-125 duration-200"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/kadirlofca/backroom"
    >Site template by Kadir Lofca <Arrow class="stroke-primary-foreground"
      rotate={-45}
    /></a
  >
  <div class="group w-28 p-1 border border-primary-foreground rounded-interactive text-primary-foreground text-xs font-black text-balance leading-tight opacity-60"
  >
    <span class="group-hover:hidden">100% HANDMADE</span>
    <span class="hidden group-hover:inline">* EXCEPT THE POEMS</span>
  </div>
</Section>
